

<h1><%= "Candidate List" %></h1>

<ul>
  <% @candidates.each do |candidate| %>
    <li><%= link_to "#{candidate.first_name} #{candidate.last_name}", "/candidates/#{candidate.id}" %> </li>
  <% end %>
</ul>
<h2><%= label_tag "Enter new candidate" %></h2>
<% form_for @candidate, url_for(:candidates, :index), :method => 'post' do |f| %>
    <p>
      <%= f.label "First name" %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label "Last name" %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label "Party ID" %>
      <%= f.select(:party_id, collection: @parties, :fields => [:name, :id]) %>
    </p>
    <p>
      <%= f.label "Constituency ID" %>
      <%= f.select(:constituency_id, collection: @constituencies, :fields => [:name, :id]) %>
    </p>
    <p>
      <%= f.label "Total Votes" %>
      <%= f.number_field :total_votes %>
    </p>
    <%= f.submit "Submit" %>
<% end %>