<% form_tag url_for(:login), :method => 'post' do %>
    <p>
      <%= label_tag "User name" %>
      <%= text_field_tag :user_name %>
    </p>
    <p>
      <%= label_tag "Password" %>
      <%= password_field_tag :password %>
    </p>
    <%= submit_tag "Submit" %>
<% end %>